
<!-- this is games/index.handlebars -->


    {{#each tiles}}
    	<div class="tile bg-{{this.env_type}}" id="{{this.tile_id}}" data-bldg="{{this.building}}" data-space="{{this.space}}">
    		{{this.x1}}.{{this.y1}}
    	</div>
    {{/each}}
