
<!-- this is games/index.handlebars -->


    {{#each tiles.tilesObject}}
    	<div class="tile" id="{{this.dataValues.id}}" data-bldg="{{this.dataValues.building_id}}" data-space="{{this.dataValues.space}}" data-x="{{this.dataValues.x1}}"  data-moveable="{{this.dataValues.player_visit}}" data-y="{{this.dataValues.y1}}" data-image="/static/images/tiles/{{this.dataValues.id}}.png" style="background-image:url(/static/images/tiles/{{this.dataValues.id}}.png); background-size: 100% 100%; background-repeat: no-repeat)">
    	</div>
    {{/each}}